@import './variables.scss';
@import './mixins.scss';

div {
    &.outer-modal {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $background-color;

        .inner-modal {
            position: relative;
            width: 10em;
            height: 10em;
            background-color: $foreground-color;
            margin: 0 auto;
            @include vertical-centered;
        }
    }
}